@charset "UTF-8";
header {
    background-color: var(--corPrt);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.356);
    
    
}
header > img {
    margin-bottom: -50px;
    margin-left: 30px;
    margin-top: 20px;
    width: 50px;
    
}
header > h1 {
    font-family: 'rose';
    color: white;
    font-weight: normal;
    font-size: clamp(2em, 4em + 20vw, 4.5em);
    text-align: right;
    line-height: 33px;
    padding-top: -30px;
    padding-bottom: 10px;
    padding-right: 15px;
}