@charset "UTF-8";
@font-face {
    font-family: 'rose';
    src: url('fonts/October\ Rose\ -\ Personal\ Use.otf') format('opentype');
    font-weight: normal;
}


 /* #735A72 roxo
    #8D8B99 cinza
    #DB8591 rosa
    ##212020 preto claro??
    ##932D30 vinho]white
*/
* {
    margin: 0;
    padding: 0;
}
:root {
    --corPrt: #212020;
    --corwt: white;
    --corVi: #932D30;   
}
body {
    background-color:var(--corVi);
}
article h1 {
    font-family: 'rose';
    font-size: clamp(2em, 4em + 20vw, 5em);
    color: var(--corVi);
    font-weight: lighter;
    text-align: right;
}
main {
    width: 80vw;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 0 0 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.384);
   
}
main p {
    line-height: 1.7em;
    text-indent: 20px;
}
main abbr {
    text-decoration: none;
    font-weight: bold;
}
#fakelinkA {
    font-weight: bold;
}
#fakelinkA::after {
    content: '\1F517';
}
button {
    width: 200px;
    height: 75px;
    border-radius: 40px; 
    background-image: linear-gradient(to right, rgb(4, 104, 4) , rgb(12, 197, 12)20% );
    border-color: transparent;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;  
    transition-duration: 10s; 
}
#buttonD {
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    
}
button:hover {
    background-image: linear-gradient(to right, purple, rgb(221, 12, 221));
}
main img {
    display: block;
    margin: auto;
}